# encoding:utf-8
<div class="center hero-unit">
  <h1>Blog53'e hoşgeldiniz.</h1>
 <p> Yapım aşaması</p>
 
   <%= link_to "Kayıt ol!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
