# encoding: utf-8

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Blog53", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Anasayfa",    root_path %></li>
          <li><%= link_to "Yardım",    help_path %></li>
          <li><%= link_to "Giriş", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
